body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f9a26c;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #f9a26c;
  --button-hover-background-color: #f2c69d;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.orange {
  --background-color: #f9a26c;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #f9a26c;
  --button-hover-background-color: #f2c69d;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.green {
  --background-color: #7cb48f;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #7cb48f;
  --button-hover-background-color: #9ed5a8;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid;
}

.dark {
  --background-color: #1c1c1c;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #1c1c1c;
  --button-hover-background-color: #2b2b2b;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.blue {
  --background-color: #6fb0d2;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #6fb0d2;
  --button-hover-background-color: #a3d4e9;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.purple {
  --background-color: #9370db;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #9370db;
  --button-hover-background-color: #baa8e0;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.red {
  --background-color: #d96262;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #d96262;
  --button-hover-background-color: #e8a0a0;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

.silver {
  --background-color: #d9d9d9;
  --text-color: #333333;
  --button-background-color: #ffffff;
  --button-text-color: #d9d9d9;
  --button-hover-background-color: #f2f2f2;
  --button-hover-color: #333333;
  --border-bottom: 3px solid #333333;
}
