:root {
  --background-color: #f9a26c;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #f9a26c;
  --button-hover-color: #f2c69d;
  --border-bottom: 3px solid #ffffff;
}
