body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f9a26c;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #f9a26c;
  --button-hover-background-color: #f2c69d;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid #ffffff;
}

:root.green {
  --background-color: #7cb48f;
  --text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #7cb48f;
  --button-hover-background-color: #9ed5a8;
  --button-hover-color: #ffffff;
  --border-bottom: 3px solid;
}
