@import url('./global.css');

.quiz_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.quiz_heading {
}

.quiz_unordered_list {
}

.quiz_list_item {
}

.quiz_button {
}
