@import url('./global.css');

.game_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: var(--border-bottom);
  padding-bottom: 0.5rem;
}

.question {
  border: 2px solid var(--border-color);
  padding: 1rem;
  margin: 2rem 0;
  max-width: 60rem;
  width: 100%;
  text-align: center;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.answers_list_item {
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
}
