@import url('./global.css');

.game_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: var(--border-bottom);
  padding-bottom: 0.5rem;
}
