@import url('./global.css');

.game_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: var(--border-bottom);
  padding-bottom: 0.5rem;
  font-family: var(--font-family);
}

.question_text {
  font-size: 2.25rem;
  font-family: var(--font-family);
}

.question {
  border: 2px solid var(--border-color);
  padding: 0.5rem;
  margin: 2rem 0;
  max-width: 60rem;
  width: 100%;
  text-align: center;
}

.answers_unordered_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  list-style: none;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

.images {
  width: 15%;
}

.progress_image {
  width: 50vw;
}
