@import url('./global.css');

.settings_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.settings_heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: var(--border-bottom);
  padding-bottom: 0.5rem;
}

.settings_button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.settings_button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

.settings_label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.settings_input_checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.settings_select {
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 4px;
  width: 100%;
  max-width: 240px;
  appearance: none;
}

.settings_select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f9a26c;
}
