.settings_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9a26c;
  color: #ffffff;
}

.settings_heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 0.5rem;
}
