@import url('./global.css');

.sub_categories_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sub_categories_heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: var(--border-bottom);
  padding-bottom: 0.5rem;
}

.sub_categories_unordered_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}

.sub_categories_list_item {
}

.sub_categories_button {
}
